<div class="menu-container">

  <h4>Role</h4>
  <div class="button-row">
    <button mat-raised-button color="primary">New</button>
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="accent">Delete</button>
    <button mat-raised-button color="primary">List</button>
  </div>


  <form class="menu-form">
    <mat-form-field class="menu-full-width">
      <input matInput placeholder="Code">
    </mat-form-field>

    <mat-form-field class="menu-full-width">
      <input matInput placeholder="Role Name">
    </mat-form-field>
  </form>
</div>