<div class="menu-container">

  <h4>Role</h4>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="goNew();">New</button>
    <button mat-raised-button color="primary" (click)="goPost();" [disabled]="rolenameFormControl.hasError('required')">Save</button>
    <button mat-raised-button color="accent" (click)="goDelete(_obj.syskey);" [disabled]="_isDelete">Delete</button>
    <button mat-raised-button color="primary" (click)="goList()">List</button>
  </div>


  <form class="menu-form">
    <mat-form-field class="menu-full-width">
      <input matInput placeholder="Code" [(ngModel)]="_obj.t1" disabled name="rolecode">
    </mat-form-field>
    <mat-form-field class="menu-full-width">
      <input matInput placeholder="Role Name" [(ngModel)]="_obj.t2" name="rolename" [formControl]="rolenameFormControl"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="rolenameFormControl.hasError('required')">
        Role Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <div>
    <h4 color="primary">Menu</h4>
  </div>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let parentmenu of Menu_Data.menu let i=index">
      <div *ngIf="parentmenu.syskey!=0">
        <mat-checkbox class="example-margin" color="primary" [(ngModel)]="parentmenu.result" (change)="getParentValue(i,parentmenu.syskey,$event)">
          {{parentmenu.t3}}</mat-checkbox>
      </div>
      <mat-icon color="primary"> label_important</mat-icon>
      <mat-list-item role="listitem" *ngFor="let child of parentmenu.childmenus let j=index">
        <mat-checkbox class="example-margin" color="primary" [(ngModel)]="child.result" (change)="getChildValue(i,j,$event)" >
          {{child.t3}}</mat-checkbox>
      </mat-list-item>
    </mat-list-item>
  </mat-list>




  <pre>{{Menu_Data | json}}</pre>
  <!-- <pre>{{_obj | json}}</pre> -->
</div>