<div class="menu-container">
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="goNew()" matTooltip="To add new Industry" matTooltipPosition="after">New</button>
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="Name" matSortDisableClear
      matSortDirection="asc">
      <!-- Number Column -->
      <ng-container matColumnDef="Code">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row" (click)="goEntry(row.syskey)">{{row.syskey}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Name</th>
        <td mat-cell *matCellDef="let row">{{row.t2}}</td>
      </ng-container>
      <!-- State Column -->
      <ng-container matColumnDef="Link">
        <th mat-header-cell *matHeaderCellDef>Link</th>
        <td mat-cell *matCellDef="let row">{{row.t1}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="Parent_Menu">
        <th mat-header-cell *matHeaderCellDef>
          Parent_Menu
        </th>
        <td mat-cell *matCellDef="let row"> {{row.t2}} </td>
      </ng-container>

      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-button>
            <mat-icon>more_vert</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goEntry(row.syskey)"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>

</div>