<div class="menu-container">

  <h4>Township</h4>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="goNew();">New</button>
    <button mat-raised-button color="primary" (click)="goPost();" [disabled]="menunameFormControl.hasError('required')">Save</button>
    <button mat-raised-button color="accent" (click)="goDelete(_obj.syskey);" [disabled]="_isDelete">Delete</button>
    <button mat-raised-button color="primary" (click)="goList()">List</button>
  </div>


  <form class="menu-form">
    <mat-form-field class="menu-full-width">
      <mat-select placeholder="Select Region" [(ngModel)]="_obj.division" name="division" (ngModelChange)="getDistinct(_obj.division);">
        <mat-option *ngFor="let item of ref._lov3.state" value={{item.value}}>{{item.caption}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="menu-full-width">
      <mat-select placeholder="Select Distinct" [(ngModel)]="_obj.distric" name="distric">
        <mat-option *ngFor="let item of ref._lov3.distinct" value={{item.value}}>{{item.caption}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="menu-full-width">
      <input matInput placeholder="Code" [(ngModel)]="_obj.code" name="code">
    </mat-form-field>


    <mat-form-field class="menu-full-width">
      <input matInput placeholder="Township" [(ngModel)]="_obj.despEng" name="township" [formControl]="menunameFormControl"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="menunameFormControl.hasError('required')">
       Township is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>

 <pre>{{_obj | json}}</pre> 

</div>